body {
    font-family: monospace;
}

table {
    table-layout: auto;
}
table, th, td {
    border-collapse: collapse;
    border: 2px solid rgb(46, 50, 210);
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
    vertical-align: center ;
    width: 100px;
    height: 50px;
}

.input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline-color: rgb(46, 50, 210);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

caption {
    caption-side: bottom;
}

.scrollTop {
    outline: none;
    border: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    transition: all .4s ease;
}

.scrollTop.active{
    opacity: 1;
    visibility: visible;
}

.scrollTop img{
    width: 80%;
}